@media (max-width: 320px) {

body {
  background: url("../img/fog.jpeg");
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #222;
  margin: 0;
  padding: 0;
}

#container {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  border: 1px solid #222;
  padding: 20px;
  background: rgba(255,255,255,0.6);
}

header {
  margin-top: 60px;
}

nav {
  z-index: 10;
  background: #eee;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  list-style: none;
  margin:0;
  padding:0;
  text-align: center;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  border-right: 1px solid #ccc;
  margin-right: 2em;
  line-height: 30px;
  padding-right: 2em;
}

nav ul li:last-child {
  border: 0;
}

nav ul li:nth-child(2) {
  border: 0
}

#contact {
  font-family: 'Hind', sans-serif;
  text-align: center;
  margin-bottom: 0px;
}

#aboutme p {
  line-height: 1.4;
  font-size: 12pt;
}

#aboutme p:nth-child(3) {
  font-weight: bold;
}

#aboutme ul li {
  line-height: 1.3;
  font-style: italic;
}

#aboutme ul li:nth-child(3) {
  display: none;
}

h1 {
  font-family: 'Bree+Serif', sans-serif;
  text-align: center;
  margin-top: 1in;
  margin-bottom: .05in;
  font-weight: 700;
  font-size: 35pt;
}

nav ul li {
  display: inline;
  margin: 1em;
}

h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 30px;
  font-weight: 800;
  font-size: 25pt;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 25px;
  font-weight: 500;
  font-size: 15pt;
}

h4 {
  margin-top: 0in;
  margin-bottom: 10px;
  margin-left: 0;
  font-weight: 100;
  font-size: 12pt;
}

p {
  line-height: 18px;
  margin-top: 0;
  font-size: 10pt;
}

img {
  border: 1px solid #222;
  float: none;
  height: 3.2in;
  margin: 10px;
  padding: 0px;
}

#portfolio img {
  border: 1px solid #222;
  height: 3.5in;
  margin: 10px;
  padding: 0;
}

h2:nth-child(1) {
  display: none;
}

#portfolio iframe {
  display: none;
}

a:visited {
  color: rgb(25,95,155);
}

a:hover {
  color: rgb(218,29,56)
}

li {
  margin-bottom: 5px;
}

abbr {
  border-bottom-style: none;
}

footer {
  margin: 0px;
}

.print {
  display: none;
}

}
